body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #EEB8B6 solid !important;
    font-size: 16px;
}

.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #EEB8B6 !important;
     font-weight: bold !important;
 }

 .login-btn {
     border: 2px solid #EEB8B6 !important;
     font-size: 10px !important;
 }
 .login-btn:hover {
     background: #EEB8B6 !important;
 }
.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #EEB8B6!important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../assets/wavy-purple-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}

.smolltext {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 12px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background: #EEB8B6 !important;
    padding: 60px 50px !important;
    background-image: url("../assets/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}
.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #EEB8B6 !important;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    border: 4px solid #EEB8B6;
}
.features .card-text {
color: rgba(255, 255, 255, 0.46) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #EEB8B6 !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #a2a8bd !important
}

/*Library */

 .grid-container{
      display: grid;
    }
    
    .grid-container .item-grid  {

     
    }

    .container-flex-header{
        display: flex;
        column-gap: 10px;
        align-items: center;
        margin-top: 10px;
    }
    .container-logo img{
        width: 77%;
    }
    .container-logo {
        width: 15%;
    }
    .search{
        flex-grow: 2;
    }
    .search input{
      
    width: 81%;
    padding: 3px;
    border-radius: 7px;
    }

    /*nav bar for mobile */
  
       .top-banner {
        padding: 1em 0;
        background-color: #ffd698;
       }
       .top-banner-inner {
        width: 80%;
        max-width: 1000px;
 margin: 0 auto;
}

.modal{
    display: none;
}
.modal-show{
    display:block; 
   }
.modal-backdrop { 
 position: fixed; 
 top: 0; 
 right: 0; 
 bottom: 0; 
 left: 0; 
 background-color: #1D1E28;
}
.modal-body { 
 position: fixed; 
 width: 100%;
 bottom: 0px; 
 right:0px;
 left: 0px;
 top:0px; 
 background-color: white;
 overflow: auto; 
 z-index: 20;
}
.langauge{
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #f9fafc;
}
.modal-body nav{
    margin-top: 50px;
}
.modal-body nav ul{
    text-align: center;
    margin-top: 10px;
    list-style-type: none;
    padding: 2px;
}
.modal-body nav ul li{
    border-bottom: 1px solid blue;
    padding: 3px;
    background-color: #f9fafc;
    text-align: right;
}
.modal-body nav ul li img{
    width: 30px;
}
.modal-body nav ul .li-langauge{
  border: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #1D1E28;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
@media screen and (min-width:750px) {
    modal-body-sign-up
    
}
.container-checkbox {
    text-align: right;
    padding: 3px;
    margin: auto;
    width: 60%;

} 

/* browse by catigory   */
.container-catigroy-box
{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
@media screen and (max-width:750px) {
    .container-catigroy-box{
        justify-content:center;
    }
    
}
.catigroy-box
{
    text-align: center;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px #1D1E28;
}
.catigroy >p{
    margin-right: 11%;
    margin-bottom: 11px;
    font-size: 19px;
}
.catigroy-box img{
    width: 45px;
}
@media screen and (max-width:750px) {
    .catigroy-box img{
        width: 69px;
    }
    
}
/* adver */

.ads{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin-top: 19px;
    justify-content: center;
}
.adver
{
    width: 25%;
}
.adver img{
    max-width: 100%;
}

/*   offer display   */

.container-book-offer{
    
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

}
@media screen and (max-width:75px) {
    .container-book-offer{
        justify-content:right;
    }
    
}
.book-offer{
   
    border: 1px solid;
    text-align: center;
}
.book-offer .offer{
    background:#eeb8b6a5;
    color: white;
    padding: 8px;
    margin: 3px;
    position: relative;
    font-size: 12px;
}
.book-offer .offer::after{
    content: " ";
 display: block;
    background-color: green;
}
.book-offer >a>img{
    max-width:100%;
    height: 138px;
}
.icon-under-book{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.type-book{
    vertical-align: super;
    font-size: 18px;
    color: #EEB8B6; 
    font-weight: bold;
    margin-right: 4px;
}
.book-offer .icon-under-book img{
  
  
    margin: 5px;
    height: auto;
}
.book-offer .title{
    opacity: 0.5;
}
.book-offer .price{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 9px;
    color: #EEB8B6;
    font-size: 19px;
    font-weight: bold;
}
/* start style footer */
   .container-footer{
    background-color: #1D1E28;
    color:#fff;
    padding: 10px;
   }

   .itemfooter{
       padding: 15px;
       
   }
   .subscrip{
       position: relative;
   }
   
   .subscrip input{
    width: 18%;
    height: 40px;
    line-height: 2.86;
    padding: 0 16px;
    background: #eff2f7;
    resize: none;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #eff2f7;
   }
   .head-subscrip,.hide-phone-dive,.hide-servece,.hide-quick-start{
       display: none;
   }
   .subscrip input[type=text]
   {
       width: 65%;
   }
   .subscrip input[type=submit]
   {
       width: 18%;
   }
   
.icon-contact img{
    width: 25px;
}
.footer-icon-container{
    
}
   
   .footer-icon-container div{
      
       margin-right: 4px;
   }
   .hide-phone-dive p ,.hide-servece p,.hide-quick-start p,.hide-about p{
       margin-bottom: 15px;
   }
   .itemfooter>p ,.phone-div>p{
       margin-bottom: 5px;
       padding: 10px;
       border-bottom: 1px solid #EEB8B6;
   }
   .info-footer{
    background: #e6e6e6;
    padding: 20px 0 10px;
    width: 100%;
   
   }
   .way-paid{
    padding: 24px 0;
   }
   .way-paid i{
    font-size: 25px;
}
   .crypt{
    font-family: Tajawal,sans-serif;
    font-weight: 400;
    
    color: #273444;
    -webkit-font-smoothing: antialiased;
   }
   @media(min-width:750px)
   {

    .grid-container .item-grid{
        padding: 0px;
    }
    .container-logo img{
          width: 31%;
    }
       #open ,#close
       {
           display: none;
       }
       .modal{
           display: block;

       }
       
       .modal-backdrop{
           display: none;
       }
       .modal-body {
           
           position: static;
           overflow: hidden;
           
       }
       .langauge{
        position: static;
        width: 132px;
    
        
        
       
        
        border-radius: 10px;
       }
       .langauge img {
        width: 14%;
        margin-left: 8px;
       }
       .search span img{
           position: relative;
           top:10px;
       }
       .modal-body nav ul{
           margin-top:0px;
           padding:0px;
           display: flex;
           justify-content: center;
           text-align: initial;
           background-color: #f9fafc;
       }
       .modal-body nav ul li {
        
    width: auto;
   border:  1px solid rgb(229, 233, 242);
   
    padding: 10px;
    
    
       }
       .modal-body nav ul li img {
       
        width: 23px
    }
    
    .modal-body nav ul li span{

    }



       .modal-body nav{
        margin-top: 0px;
        z-index: 0;
        
        text-align: right;
       }
       .container-flex-header
       {margin-top: 15px;
        column-gap: 40px;
        margin-top: 26px;
       }
       .slidar{
           margin-top: 20px;
           margin-bottom: 20px;
       }
       .catigroy-box{
        padding: 13px 22px;
        border-radius: 13px;
       
        
       }
       .container-icon-menu{
         display: none;
       }
       .container-logo
       {
          text-align: left;
       }
       .search
       {
        flex-grow: 6;
        margin-left: auto;
       }
       .search input {
           padding: 10px;
           margin-right: 15px;
           border-radius: 19px;
       }
       /* browse by catigory */
       .container-catigroy-box{
           flex-wrap: nowrap;
           column-gap: 32px;
           justify-content: center;
           margin-bottom: 15px;
       }
       
       /*   offer display   */
.current-display >p{
    margin-right: 11%;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 13px;
}
.container-book-offer{
    
    display: flex;
    column-gap: 15px;
    width: 90%;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;

}
.footer-icon-container{
    position: absolute;
    bottom: 1px;
}
.book-offer{
   
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px #1D1E28;
    border-radius: 8px;
    padding-top: 15px;
    text-align: center;
}

.book-offer>a>img {
   
}
       .container-footer
       {
           display: flex;
       }
       .icon-contact img{
           width: 30px;
       }

       .head-subscrip,.hide-phone-dive,.hide-servece,.hide-quick-start
       {
           display: block;
       }
       .info-footer{
        display: flex;   
    }
    .way-paid{
        width: 50%;
    }
    .way-paid i{
        font-size: 50px;
        color: rebeccapurple;
        margin: 8px;
    }
    
   }
   @media screen and (max-width:750px) {
    .book-offer{
        width:40%;
        border: solid 1px #ccc;
    box-shadow: 1px 2px 5px #1D1E28;
    border-radius: 8px;
    padding-top: 15px;
    text-align: center;
    margin-top: 15px;

    }    
}

/*PopUp*/
.popbutton {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #EEB8B6;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .popbutton:hover {
    background: #EEB8B6;
  }
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  .popup h2 {
    margin: 10px;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #EEB8B6;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  .alert {
    padding: 20px;
    background-color: #ed9339; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }